::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;

}
.text-center{
    text-align: center;
}

:root {
    --primary-color: #ffff;
    --secondery-color: #df654f;
    --shadow-color: #9d9fb3;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;

}


.form__container {
    margin-top: 1rem;
    background-color: var(--primary-color);
    border-radius: 2rem;
    padding: 1rem;
    min-width: 50vw ;
    min-height: 60vh;

}

.title__container {
    width: 100%;
    height: 4.5rem;
    padding: 0.6rem 1.5rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid #42434e;
}

.title__container h1 {
    letter-spacing: 2px;
    color: #000000;
    font-size: 1.25rem;
    margin-bottom: 0.4rem;
}

.title__container p {
    color: var(--shadow-color);
    font-size: 1rem;
}

.body__container {
    display: flex;

}

.left__container {
    width: 20vw;
    display: flex;
    /* flex-direction: column; */
    /* align-items: center; */
    justify-content: center;
    border-right: 1px solid #42434e;
    padding: 1.25rem 0;
    margin-top: 2rem;
  /*  margin-right: 2rem;
    margin-top: 2rem;
    padding-right: 1.8rem;*/
}

.side__titles {
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-right: 0.6rem; */
}

.title__name {
    padding: 0.6rem 0.1rem;
    margin-bottom: 0.25rem;
}

.title__name h3 {
    margin-bottom: 0.20rem;
    text-align: right;
    color: #42434e;
    font-size: 1rem;
    letter-spacing: 1px;
}

.title__name p {
    text-align: right;
    color: var(--shadow-color);
    font-size: 0.9rem;
}

.progress__bar__container {
    padding-top: 0.7rem;
    /* height: 100%; */
}

.progress__bar__container ul .active {
    background-color: var(--secondery-color);

}

.progress__bar__container ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    background: var(--shadow-color);
    padding: 0.5rem 0.6rem;
    margin-bottom: 1.2rem;
    border-radius: 50%;
    font-size: 1.4rem;
    color: #ffffff;
    margin-left: 2rem;
}

.progress__bar__container ul li::before {
    content: '';
    width: 1px;
    height: 15vh;
    position: absolute;
    background-color: var(--shadow-color);

}

.progress__bar__container ul .active::before {
    content: '';
    width: 1px;
    height: 15vh;
    position: absolute;
    background-color: var(--secondery-color);
    /* z-index: -1; */
}

.right__container {
    width: 40vw;
    display: flex;
    padding: 0.5rem 1.5rem;
}

.right__container fieldset {
    border: none;
}

.sub__title__container {

    padding: 1rem 0 1.2rem 0;
    border-bottom: 1px solid #42434e;
}

.sub__title__container h2 {
    letter-spacing: 2px;

    color: #42434e;
    margin: 0.4rem 0;
}

.sub__title__container p {
    font-size: 1rem;
    color: var(--shadow-color);
}


 .page {
    text-align: center;
    font-size: 1rem;
    color: var(--shadow-color);
}
.active__form {
    display: none;
}

.input__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 1.25rem;
}

.input__container label {
    color: #ff4e4e;
    font-size: 0.75rem;
    margin-bottom: 0.4rem;
}

.input__container input {

    padding: 0.5rem;
    font-size: 1.4rem;
    border-radius: 0.75rem;
    background: none;
    border: 1px solid var(--secondery-color);
    margin-bottom: 1.2rem;
    outline: none;
    color: #42434e;
}


.nxt__btn {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* float: right; */
    /* width: 30%; */
    padding: 0.75rem 0;
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 2rem;
    background: var(--secondery-color);
    color: #ffffff;
    /* border: none; */
    /* outline: none; */
    /* margin-left: 20em; */
    /* margin-top: 0.55em;     */
}

.nxt__btn:hover {
    transform: scale(1.03) !important;
    background: #1cd68c !important;
    cursor: pointer !important;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* float: right; */
    margin: 0;
    padding: 0;
    /* justify-content:space-evenly; */
}

.prev__btn {
    margin: 0;
    /* padding: 0.5rem 1.5rem 0.7rem 1.5rem  ; */
    /* background-color: #857373; */
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    color: #ff4e4e !important;
    font-size: 18px;
    /* margin-right: 20px; */
    /* margin-left: 15rem; */
    cursor: pointer;
}

/*------------------------------- form-2 design --------------------*/

.selection {
    display: flex;
    align-items: center;
    border: 1px solid var(--shadow-color);
    padding: 0.5rem 0.5rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    width: 100%;
}

.selection:hover {
    border: 1px solid var(--secondery-color) !important;
    background-color: var(--primary-color)  !important;
    cursor: pointer;
}

a {
    color:var(--secondery-color);
    text-decoration: none;
}

.imoji {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.4rem 0.4rem;
    margin: 0 0.2rem;
    margin-right: 0.4rem;
    font-size: 2rem;
    font-weight: 900;
    color: yellow;
    border-radius: 50%;
    background: var(--shadow-color);
}


.descriptionTitle h3 {
    color: #ffffff;
    margin-bottom: 4px;
}

.descriptionTitle p {
    font-size: 0.75rem;
    color: var(--shadow-color);
}


/*-------------------------------------- form-4 design----------------------------------------- */
.slider {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 0.75rem;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    position: relative;
    margin-top: 3rem;
    /* margin-right:5rem ; */
}



.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--secondery-color);
    cursor: pointer;
    position: relative;
}

.slider::-webkit-range-thumb {
    width: 50px;
    height: 50px;
    background: var(--secondery-color);
    cursor: pointer;
    position: relative;
}

.output__value {

    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    border-radius: 2em;
    padding: 0.8rem 0.8rem;
    position: absolute;
    background-color: var(--secondery-color);
}

.output__value::after {
    content: '';
    width: 1.5rem;
    height: 1.5rem;
    background-color: black;
    transform: rotate(45deg);
    position: absolute;
    margin-top: 40px;
    background-color: var(--secondery-color);
}



@media only screen and (max-width: 600px) {
    body {
        background-color: var(--primary-color);
    }

    .form__container {
        margin: 0;
        padding: 0;
        min-height: 100vh;
        min-width: 100vw ;

    }

    .body__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
    }

    .right__container {
        width: 90%;
        margin: 0;
    }

    .title__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0.5rem;

    }

    .left__container {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        border: none;
    }

    .buttons {
        justify-content: space-between;
    }

    .descriptionTitle h3 {
        font-size: 1rem;
    }

    .descriptionTitle p {
        font-size: 0.6rem;

    }


    .side__titles {
        display: none;
        flex-direction: row;
        /* align-items: center;  */
        justify-content: space-evenly;
    }

    .title__name h3 {
        font-size: 0.75rem;

    }

    .title__name p {
        font-size: 0.5rem;

    }

    .progress__bar__container {
        margin-bottom: 0;

    }

    .progress__bar__container ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-bottom: 0;
        /* width: 50%; */
        padding: 0 2rem;

    }

    .progress__bar__container ul::before {
        height: 5vh;
    }

    .progress__bar__container ul li {
        margin: 10px;
        padding: 10px;
        /* transform: rotate(90deg); */
    }

    .progress__bar__container ul .active::before {
        transform: rotate(90deg);
    }

}






/**
*table
*/

#emoji-text {
    margin-top: 0px;
    color: #ff4e4e;
    text-align: center;
  }
  #emoji {

    font-size: 4em;
 
    margin-left: 30%;
  }
  
  #emoji img {
    transition: all 0.3s ease-in-out;
   margin-bottom: 0px;
  }
  
.table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table td,
  .table th {
    padding: 3px 8px;
    border: 1px solid #ddd;
    text-align: center;
    font-size: 1rem;
  }
  
  .table th {
    background-color: #42434e;
    color: #ffffff;
  }
  
  .table tbody tr:nth-child(even) {
    background-color: #f8f8f8;
  }
  
  /*responsive*/
  
  @media (max-width: 500px) {
    .table thead {
      display: none;
    }
  
    .table,
    .table tbody,
    .table tr,
    .table td {
      display: block;
      width: 100%;
    }
    .table tr {
      margin-bottom: 15px;
    }
    .table td {
      padding-left: 50%;
      text-align: left;
      position: relative;
    }
    .table td::before {
      content: attr(data-label);
      position: absolute;
      left: 0;
      width: 50%;
      padding-left: 15px;
      font-size: 15px;
      font-weight: bold;
      text-align: left;
    }
    .tick-slider-pag-3 .tick-slider-pag-3{
        font-size: 0.7rem;
        padding: 0.6rem 0.5rem ;
        height: calc(0.5em + 0.65rem + 1px) !important;
        margin: 0px;
      }
  }
  

  input[type=text],input[type=number], select, textarea{
    width: 100%;
  
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;

    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    border: 1px solid #ced4da;
  }

  /***************************************************/
/*   fields focus styles                           */
/***************************************************/
.animated input[type=text], 
.animated input[type=checkbox],
.animated input[type=radio],
.animated input[type=radio]+label,
.animated textarea,
.animated select, 
.animated a,
.animated button{
  transition: all .5s ease-in-out;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
}
/*Radio+Check round corners*/
.animated input[type=checkbox]+label,
.animated input[type=radio]+label{
  border-radius: 7px;
  padding: 3px;
}
.glow input[type=text]:focus,
.glow select:focus,
.glow input[type=checkbox]:focus,
.glow input[type=checkbox]:focus+label,
.glow input[type=radio]:focus,
.animated input[type=radio]:focus+label,
.glow textarea:focus,
.glow a:focus,
.glow button:focus{
  box-shadow:0 0 20px rgba(81, 203, 238, 1);
  border: 1px solid rgba(81, 203, 238, 1);
}

/*outline can be different than border (more than 1 px in this case) and not alter the layout*/
.outline input[type=text]:focus, 
.outline select:focus,
.outline input[type=checkbox]:focus,
.outline input[type=radio]:focus,
.outline textarea:focus,
.outline  a:focus,
.outline button:focus{
  outline: 3px solid rgba(81, 203, 238, 1);
}


@import url("https://fonts.googleapis.com/css?family=Hind+Madurai:300,600|Poppins:300&display=swap");

:root {
    --yellow: #ffd049;
    --light-yellow: #fdf2d2;
    --orange: #ffa929;
    --light-gray: #e3e4e8;
    --gray: #71738b;
    --light-blue: #7a7c93;
    --blue: #34385a;

    --slider-handle-size: 14px;
    --slider-handle-border-radius: 2px;
    --slider-handle-margin-top: -4px;
    --slider-track-height: 6px;
    --slider-track-border-radius: 4px;
}



#wrapper {
    position: absolute;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

#sliderContainer {
    width: 100%;
    max-width: 440px;

    padding: 56px 40px;

    border-radius: 40px;

    box-shadow: 0px 8px 40px rgba(128, 128, 128, 0.15);
}

#sliderContainer>div:first-child {
    margin-bottom: 48px;
}

.tick-slider-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.tick-slider-header>h5 {
    margin: 0;

    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: var(--gray);
}

.tick-slider {
    position: relative;

    width: 100%;
}

.tick-slider-value-container {
    position: relative;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;



    font-family: "Hind Madurai", sans-serif;
    font-size: 0.8rem;
    color: var(--gray);
}

.tick-slider-value {
    position: absolute;
    top: 0;

    font-weight: bold;

    color: var(--blue);

    border-radius: var(--slider-handle-border-radius);
}

.tick-slider-value>div {
    animation: bulge 0.3s ease-out;
}

.tick-slider-background,
.tick-slider-progress,
.tick-slider-tick-container {
    position: absolute;
    bottom: 5px;
    left: 0;

    height: var(--slider-track-height);

    pointer-events: none;

    border-radius: var(--slider-track-border-radius);

    z-index: -1;
}

.tick-slider-background {
    width: 100%;
    background-color: var(--light-gray);
}

.tick-slider-progress {
    background-color: var(--yellow);
}

.tick-slider-tick-container {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 calc(var(--slider-handle-size) / 2);
}

.tick-slider-tick {
    width: 2px;
    height: 2px;

    border-radius: 50%;

    background-color: white;
}

.tick-slider-label {
    opacity: 0.85;
    transition: opacity 0.1s ease;
}

.tick-slider-label.hidden {
    opacity: 0;
}

@keyframes bulge {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

/*

    REMOVE SLIDER STYLE DEFAULTS

*/
input[type="range"] {
    -webkit-appearance: none;

    width: 100%;
    height: 100%;

    background: transparent;
    outline: none;

    margin: 5px 0;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;

    border: none;
}

input[type="range"]:focus {
    outline: none;
}

input[type="range"]::-moz-focus-outer {
    border: 0;
}

/*

    HANDLE

*/
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;

    width: var(--slider-handle-size);
    height: var(--slider-handle-size);

    background: var(--orange);

    border-radius: var(--slider-handle-border-radius);

    cursor: pointer;

    margin-top: var(--slider-handle-margin-top);
  
    -webkit-transform: scale(1);
    transform: scale(1);

    transition: transform 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

input[type="range"]:hover::-webkit-slider-thumb,
input[type="range"]:focus::-webkit-slider-thumb {
    transform: scale(1.2);
}

input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;

    width: var(--slider-handle-size);
    height: var(--slider-handle-size);

    background: var(--orange);

    border: none;
    border-radius: var(--slider-handle-border-radius);

    cursor: pointer;

    transition: transform 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

input[type="range"]:hover::-moz-range-thumb,
input[type="range"]:focus::-moz-range-thumb {
    transform: scale(1.2);
}

/*

    TRACK

*/

input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: var(--slider-track-height);

    cursor: pointer;

    background: none;

    border-radius: var(--slider-track-border-radius);
}

input[type="range"]::-moz-range-track {
    width: 100%;
    height: var(--slider-track-height);

    cursor: pointer;

    background: none;

    border-radius: var(--slider-track-border-radius);
}

input[type="range"]:focus::-webkit-slider-runnable-track {
    background: none;
}
input[type="range"]:active::-webkit-slider-runnable-track {
    background: none;
}



.container-flex{
    display: flex;

    flex-wrap: wrap;
    flex-direction: column;

    align-items: center;
    justify-content: center;
   align-content: center;
 
}

.item-flex{
    width: 100%;
   
    /* float: right; */
    /* width: 30%; */
    padding: 0.75rem 0;
   
}
    /* Define el grid */
    .container-grid{
        display: grid;
        grid-template-columns: 1fr 1fr; /* Dos columnas de ancho igual */
        grid-gap: 10px; /* Espacio entre las celdas */
      }
  
      /* Establece el ancho del grid en dispositivos móviles */
      @media (max-width: 768px) {
        .container-grid {
          grid-template-columns: 1fr; /* Una columna de ancho completo */
        }
        .item-flex{
        
           
           
        }
      }
  
      /* Establece el ancho del grid en dispositivos de escritorio */
      @media (min-width: 768px) {
        .container-grid {
          max-width: 960px; /* Ancho máximo del grid */
          margin: 0 auto; /* Centra el grid en la pantalla */
        }
      }
  
      .tick-slider-pag-3, .tick-slider-pag-4{
        font-size: 0.7rem;
        padding: 0.6rem 0.5rem ;
        height: calc(0.5em + 0.65rem + 1px) !important;
        margin: 0px;
      }
  